---
---

<div id="nav-bar">
  <a href="/">HOME</a>
  <a href="/content/">Contents</a>
  <a href="/about/">About Me</a>
</div>

<style>
  #nav-bar {
    display: flex;
    gap: 1rem;
  }

  a {
    padding: 0.5rem 1rem;
    color: #dde9f0;
    background-color: #192526;
    text-decoration: none;
  }
</style>
